apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: apiserver
    app.kubernetes.io/part-of: kube-prometheus
  name: kube-apiserver-service
  namespace: kube-system
spec:
  ports:
  - name: client
    port: 6443
    targetPort: 6443
    protocol: TCP
  selector:
    component: kube-apiserver
    tier: control-plane
  type: ClusterIP